#my-book_wrapper {
    width: 100% !important;
}

.card {
    max-width: 1400px !important;
    width: 100%;
}

.card-header {
    background: #2a76b5;
    color: white;
}

.card {
    padding: 0;
}

#my-book_length {
    width: 40%;
    display: inline;
}

#my-book_filter {
    width: 218px !important;
    display: inline;
    float: right;
    margin-top: -5px;
}

#frmAddBook label.error,
#frmEditBook label.error {
    color: red;
}